@import "bootstrap";

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

.center {
	text-align: center;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
	margin-bottom: 15px;
}

h1 {
	text-align: center;
	color: $red;
}

form {
	display: inline-block;
	width: auto;
}

.buttons {
	align: center;
	margin-top: 10px;
}

label {
	display: block;
	clear: left;
	margin-left: 1px;
}

